@import url('https://fonts.googleapis.com/css?family=Lato:400,500');

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgba(36, 36, 36);
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Lato', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body.dark {
    background-color: whitesmoke;
    color: rgba(36, 36, 36);
}

button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Lato', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blue-button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: hsl(225, 73%, 57%);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color .2s;
}

.blue-button:hover{
    background: hsl(225, 73%, 65%);
}

main {
    max-width: min(700px, 100% - 2rem);
    margin-inline: auto;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-block: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

nav > .header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

body.dark nav > .header > #logo {
    filter: invert(1)
}

nav > .header > #dark-mode-toggle {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

nav > button {
    width: fit-content;
}

nav > .nav-right {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.bold {
    font-weight: 500;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
#changeBackground {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

body nav > .header > #logo {
    object-fit: scale-down;
}
