<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ustawienia użytkownika</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/usermenu.css}">
</head>

<body>
<nav>
    <div class="header">
        <img id="dark-mode-toggle" th:src="@{/img/dark-light-mode.png}"></img>
    </div>
    <button class="back-button" onclick="location.href='/';">Dashboard</button>
    <div class="nav-right">
        <span>Zalogowano jako: <span class="bold" th:text="${#authentication.name}">AnonymusUser</span></span>
    </div>
</nav>

<div class="info-container">
    <div class="info-content">
        <div>
            <h2>Hasło zostało zmienione pomyślnie!</h2>
        </div>
        <div class="button-container">
            <button class="back-button" onclick="location.href='/usermenu';">Powrót</button>
        </div>
    </div>
</div>

</body>

</html>